body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

header{
    background-color: blue;
    height: 80px;
    width: 375px;
    box-shadow: 0px 4px 6px rgba(0, 255, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    

    position: fixed;
    top:0px;
    left:0px;
    z-index: 1;

}

ion-icon{
    font-size: 50px;
    color: black;
}

main{
    width: 375px;
    margin-top: 106px;
    margin-bottom: 80px;
    overflow: scroll;

    display: flex;

}

.mensagem{
    width: 375px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px; 

    padding-top: 15px;
    padding: 5px;

    /*display: flex;*/
    flex-wrap: wrap;
   
    
    
}

.entrou{
    background-color:#DCDCDC;
    height: 40px;
   /* background-color:blue;*/
}

.normal{
    height: auto;
    padding-bottom: 10px;
}

.reservado{
    background-color: #FFDEDE;
    height: auto;
    padding-bottom: 10px;
}

.mensagem span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
   
}

.mensagem span:nth-child(1){
    color: #AAAAAA;
}

.entrou span:nth-child(2){
    color: #000000;
    font-weight: bold;
}

.normal span:nth-child(2),
.normal span:nth-child(3){
    color: #000000;
    font-weight: bold;
}

.reservado span:nth-child(2),
.reservado span:nth-child(3){
    color: #000000;
    font-weight: bold;
}

footer{
    width: 375px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    /*padding-left: 20px;*/
    padding-right: 20px;

    position: fixed;
    bottom: 0;
}

footer ion-icon{
    font-size: 30px;
}

input{
    width: 375px;
    height: 80px;
    border: none;
}

button{
    border: none;
    background-color: #FFFFFF;
}

.fundo-preto{
    opacity: 0.3;
}

.cor{
    background-color: #e5e5e5;
}

.escondido{
    display: none;
}

.contatos{
    width: 300px;
    height: 100%;
    background-color: white;
    position: fixed;
    
    top:0;
    right: 0;
    

    z-index: 3;
}

span ion-icon{

    color: #28BB25;
    font-size: 20px;
}

.check{
    opacity: 0;
}

.contatos h1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    color: black;

    margin-bottom: 15px;
}

.contatos li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

    display: flex;
    align-items: center;
}

.contatos ion-icon{
    font-size: 30px;
    padding-right: 8px;
    padding-left: 17px;

}

